name: Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 25

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build with gradle
        run: |
          chmod +x gradlew
          ./gradlew build -x test

      - name: Upload mod
        uses: actions/upload-artifact@v6
        with:
          name: mod-jar
          path: build/libs
